.animation__img {
  display: none;
  max-width: 100px;
  max-height: 30px;
  position: absolute;
}

.go-animation {
  display: block;
  animation: go 4s linear 1 forwards;
}

@media screen and (max-width: 630px) {
  .animation__img {
    display: none;
  }  
}