@media screen and (min-width: 630px) {
   @keyframes go {
      0% {
         transform: translate(80vw, -30vh)
      }
      25% {
         transform: translate(40vw, -55vh);
      }
      75% {
         transform: translate(15vw, -54vh);
      }
      100% {
         transform: translate(12vw, -38vh);
      }
   }
}